.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(19, 19, 19, 0.473);
    z-index: 9999999;
}

.popup_open {
    position: absolute;
    width: fit-content;
    max-width: 75%;
    border-radius: 15px;
    background: rgba(18, 18, 22, 0.922);
}

.popup .popup_open input {
    color: #eceded;
}

.popup .popup_open .close_popup_button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    background-color: rgba(119, 15, 15, 0.404);
}